<div>
  <mat-toolbar style="background: #426F6F">
    <mat-toolbar-row>
      <button mat-icon-button routerLink="/home" routerLinkActive="active-link">
        <mat-icon [ngStyle]="{'color': isActive('/home') ? '#2F3F4F' : 'black'}">home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/task-list" routerLinkActive="active-link">
        <mat-icon [ngStyle]="{'color': isActive('/task-list') ? '#2F3F4F' : 'black'}">list</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" routerLinkActive="active-link">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
