<div class="centered-box">
<mat-card>
  <mat-card-title class="headertext">Signup</mat-card-title>
  <form (ngSubmit)="onSignupSubmit()">
    <mat-form-field class="form-field">
      <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" type="email" required>
    </mat-form-field>
    <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
    <mat-form-field class="form-field">
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <div *ngIf="usernameError" class="error-message">{{ usernameError }}</div>
    <mat-form-field class="form-field">
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>
    <button mat-raised-button style="background-color: darkslategrey;" color="primary" type="submit">Signup</button>
  </form>
</mat-card>
</div>
